<?xml version="1.0" encoding="UTF-8"?>
<!-- Extra logging related to initialization of Log4j.
 Set to debug or trace if log4j initialization is failing. -->
<Configuration status="warn">
    <Appenders>
        <!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} %replace{%c{1}}{LoggerUtility}{LU}:%L - %m%n" />
        </Console>
        <Routing name="RoutingAppender">
            <Routes pattern="${ctx:threadName}">
                <Route>
                    <File name="Rolling-${ctx:threadName}"
                          fileName="target/logs/suitetest.log"
                          append="false">
                        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %replace{%c{1}}{LoggerUtility}{LU}:%L - %m%n"/>
                    </File>
                </Route>
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <!-- Root logger referring to console appender -->
        <Root level="info" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="RoutingAppender" />
        </Root>
    </Loggers>
</Configuration>
